.OrderSection{
  margin-top:6.3rem;
}

.confirmOrderPage{
    height:100vh;
    background-color:white;
    display:grid;
    grid-template-columns:6fr 3fr;
    margin-top:6.3rem;
}

.confirmOrderPage>div:last-child{
    border-left:1px solid rgba(0,0,0,0.25)
}
.confirmShippingArea{
    padding:5vmax;
    padding-bottom:0%;
}

.confirmShippingArea>p{
    font-size:2vmax;
    font-weight:400;
}

.confirmShippingAreaBox,
.confirmCartItemsContainer{
    margin:2vmax;

}

.confirmShippingAreaBox>div{
    display:flex;
    margin:1vmax 0;
}

.confirmShippingAreaBox>div>p{
    font:400 1.4vmax "Roboto";
    color:black;
}

.confirmShippingAreaBox>div>span{
    font:400 1.3vmax "Roboto";
    color:#625353;
    margin:0 1vmax;
}

.confirmCartItems{
    padding:5vmax;
    padding-top:2vmax;
}

.confirmCartItems>p{
    font-size:1.7vmax;
    font-weight:400;
}

.confirmCartItemsContainer{
    overflow:auto;
    max-height:20vmax;
}

.confirmCartItemsContainer>div{
    display:flex;
    font-size:1.3vmax;
    font-weight:400;
    justify-content:space-between;
    margin:2vmax 0;
    aling-items:center;
}

.confirmCartItemsContainer>div>span{
    font-size:1.3vmax;
    font-weight:400;
    color:#625353;
}

.confirmCartItemsContainer>div>img{
    width:3vmax;
}
.orderSummary{
    padding:2vmax;
    text-align:center;
}
.orderSummary>p{
    text-align:center;
    font-size:1.8vmax;
    font-weight:400;
    border-bottom:1px solid rgba(0,0,0,0.34);
    box-sizing:border-box;
    margin:auto
}
.orderSummary>div>div{
    display:flex;
    justify-content:space-between;
    margin:2vmax;
}
.orderSummary>div>div>span{
    color:rgba(0,0,0,0.79);
}

.orderSummaryTotal{
    border-top:1px solid rgba(0,0,0,0.3);
    display:flex;
    justify-content:space-between;
    padding:2vmax 0;
}
.orderSummary>button{
    border: none;
    background-color: #df53df;
    padding: 1vmax 3vmax;
    border-radius: 8px;
    color: white;
    font-size: 1.1vmax;
    margin: 1vmax;
    cursor: pointer;
}

.orderSummary>button:hover{
    background-color:#af4caf;
}

@media screen and (max-width: 600px) {
    .confirmOrderPage {
      grid-template-columns: 1fr;
      height: unset;
    }
  
    .confirmOrderPage > div:last-child {
      border-left: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.247);
    }
  
    .confirmshippingArea > p {
      font: 400 6vw "Roboto";
    }
  
    .confirmshippingAreaBox > div {
      display: flex;
      margin: 6vw 0;
    }
  
    .confirmshippingAreaBox > div > p {
      font: 400 4vw "Roboto";
    }
    .confirmshippingAreaBox > div > span {
      font: 100 4vw "Roboto";
    }
  
    .confirmCartItems > p {
      font: 400 4vw "Roboto";
    }
  
    .confirmCartItemsContainer {
      max-height: 50vw;
    }
  
    .confirmCartItemsContainer > div {
      font: 400 4vw "Roboto";
      margin: 4vw 0;
    }
  
    .confirmCartItemsContainer > div > img {
      width: 10vw;
    }
  
    .confirmCartItemsContainer > div > a {
      margin: 0;
      width: 30%;
    }
}
