.paymentContainer{
    display:grid;
    place-items:center;
    background-color:rgb(255,255,255);
    height:65vh;
    margin:2vmax;
}
.paymentForm{
    width:22%;
    height:100%;
}
.paymentForm>p{
    font:400 2vmax "Roboto";
    color:rgba(0,0,0,0.73);
    border-bottom:1px solid rgba(0,0,0,0.16);
    text-align:center;
    width:50%;
    padding:1vmax 0;
    margin:auto;
}
.paymentForm>div{
    display:flex;
    align-items:center;
    margin:2vmax 0;
}
.paymentInput{
    border: 1px solid rgba(0,0,0,0.267);
    width:100%;
    padding:1vmax 4vmax;
    border-raidius:4px;
    padding-right: 1vmax;
    box-sizing:border-box;
    outline:none;
}
.paymentForm>div>svg{
    position:absolute;
    transform:translateX(1vmax);
    font-size:1.6vmax;
    color:rgba(0,0,0,0.64);
}
.paymentInfoBtn{
    margin:auto;
    display:block;
    background-color:rgb(191 87 191);
    padding:1vmax 4vmax;
    outline:none;
    color:white;
    cursor:pointer;
    border:1px solid rgba(0,0,0,0.23);
    border-radius:10px;
    transition:all 0.5s;
    font:400 1.1vmax "Roboto";
}
.paymentInfoBtn:hover{
    background-color:rgb(147 55 147);
}
@media screen and (max-width: 600px) {
    .paymentForm {
      width: 90%;
    }
  
    .paymentForm > p {
      font: 400 8vw "Roboto";
      padding: 4vw 0;
      width: 60%;
    }
  
    .paymentForm > div {
      margin: 10vw 0;
    }
  
    .paymentInput {
      padding: 4vw 10vw;
    }
  
    .paymentForm > div > svg {
      font-size: 6vw;
    }
  
    .paymentFormBtn {
      font: 300 4vw "Roboto";
      padding: 4vw;
    }
  }