
.forgotPasswordContainer{
    width:100vw;
    height:100vh;
    max-width:100%;
    display:flex;
    justify-content:center;
    background-color:#eef3f2;
    align-items:center;
    margin:20px 0px;
}
.forgotPasswordBox{
    background-color:white;
    width:25vw;
    height:70vh;
    box-sizing:border-box;
    transition:all 0.5s;
    overflow:hidden;
}
.forgotPasswordform{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:auto;
    padding:2vmax;
    height:70%;
    justify-content:space-evenly;
    transition:all 0.7s;
}
.forgotPasswordform>div{
    display:flex;
    width:100%;
    align-items:center;
}
.forgotPasswordform>div>input{
    padding:1vmax 4vmax;
    padding-right:1vmax;
    width:100%;
    box-sizing:border-box;
}
.forgotPasswordform>div>svg{
    position:absolute;
    transform: translateX(1vmax);
}
.forgotPasswordBtn{
    border:none;
    background-color:tomato;
    width:100%;
    font:300 0.9vmax;
    padding:0.8vmax;
    cursor:pointer;
}

.forgotPasswordHeading{
    text-align:center;
    color:black;
    font:400 1.3vmax 'Roboto';
    padding:1.3vmax;
    border-bottom:1px solid rgba(0,0,0,0.205);
    width:50%;
    margin:auto;
}
@media(width<=700px){  
    .forgotPasswordBox{
        width:50%;
    }
}