
.latest-combo-heading-details{
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    align-items: center;
}
.latest-combo-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.latest-combo-heading>h2{
    font-weight:500;
    padding:1rem 0;
}
.latest-combo-heading p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}
.Heading{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0px;
    font-weight: 100;
    font-size: 60px;
    box-shadow: 0px 1px 0px #554d4d;
    padding: 20px 0px;
    margin:1.9rem auto;
}
.home-blocks{
    display:flex;
    flex-direction:column;
}
.home-blocks::nth-child(4) {
  background-color:#f8f4f0;
}
.HomePage{
    margin-top:5rem;
}
.slick-arrow.slick-prev{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.8;
  height:50px;
  width:50px;
  z-index:50;
  position:aboslute;
  left:-2rem;
  bottom:-2rem;
  }
  .slick-arrow.slick-next{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.8;
  height:45px;
  width:50px;
  position:aboslute;
  right:-2rem;
  }
  
  .slick-arrow.slick-next:hover,
  .slick-arrow.slick-prev:hover
  {
      background-color: #e0dcdc;
      opacity:1;
  }
  
  
  .slick-prev::before,.slick-next::before{
     display:none;
      
      }
  
  .arrows{
  height:40px;
  width:40px;
  margin: 1px;
  
  }
.slick-slide > div {
    margin: 0 13px;
  }
  .slick-list {
    margin: 0 00px;
  }

  .slider{
    width: 92%;
    margin:0 auto;
    height:27rem;
  }

  .Pandents-Block{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin-top:2rem;;
  }

  .Pandents-Block>div{
    width:30rem;
  }
  .Pandents-Block>div>a>img{
    width:100%;
  }
  .Pandents-Block>div>a{
    display:flex;
    flex-direction:column;
  }
.add-to-cart-pandent{
    padding: 14px 25px;
    background-color: white;
    margin: auto;
    border: none;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    position:relative;
    bottom:3.8rem;
    width:80%;
    margin:0 auto;
    font:300 1.2rem 'Roboto';
    display:flex;
    justify-content:center;
    cursor:pointer;
}
.add-to-cart-pandent:hover{
  background-color:#e9dede;
}
.add-to-cart-pandent>p{
  margin:0 0.3rem;
}

.god-background{
  background-color:#f8f4f0;
}
@media (width<405px){
  .Heading{
    font-size:2rem;
  }
}