.Singleproduct{
    display:flex;
    margin:auto;
    justify-content:center;
    flex-wrap:wrap;
    margin: 6rem 0rem;
}
.productDetails{
    width:48%;
    padding:1vmax 4vmax;
    box-sizing:border-box;
    margin:2rem 0rem;
}
.Carosel-img{
    width:100%;
    height:600px;
}
.redColor{
    color:red;
}
.greenColor{
    color:green;
}
.detailsBlock{
    width:50%;
    display:flex;
    flex-direction:column;
    //align-items:center;
    padding:1vmax;
    margin-top:2vmax;
}
.detailsBlock1 >h2{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    font-weight:200;
}
.detailsBlock2>p{
    font-family: 'Roboto', sans-serif;
}
.detailsBlock3{
    margin:22px 0px;
}
.detailsBlock3 >div>h2>s{
    color: #848c85;
    font-family: 'Open Sans', sans-serif;
    margin:0px 10px 0px 0px;
}
.detailsBlock3>div >h2{
    margin:7px 0px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight:200;
    color:red;
}
.detailsBlock3-1>p{
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    font-weight:100;
}
.addToCart{
    background-color:black;
    color:white;
    width:253.5px;
    height:50px;
    font-family: 'Open Sans', sans-serif;
    font-weight:100;
    font-size:20px;
    margin:8px 0px;
    cursor:pointer;
    margin-bottom:0.7rem;
}
.addToCart:hover{
    background-color:#484141;
}
.detailsBlock3-1-1>button{
    width:40px;
    height:40px;
    font-size:26px;
    font-weight:100;
    color:#817b7b;
    border:none;
    cursor:pointer;
}
.detailsBlock3-1-1>button:hover{
    color:black;
}
.detailsBlock3-1-1>input{
    border:none;
    text-align:center;
    font-size:18px;
    width:39px;
    height:40px;
}
.detailsBlock3-1>p:last-child{
    width:254px;
    height:0.4rem;
    margin-top:0.2rem;
}
.green{
    height:0.4rem;
    width:254px;
    background-color:#70ba70;
}
.red{
    height:0.4rem;
    width:254px;
    background-color:red;
}
.detailsBlock4{
    font-family: 'Open Sans', sans-serif;
    color:rgb(75, 79, 83);
    margin:0px 0px 20px 0px;
}
.submitReview{
    background-color: #339999;
    border:#339999;
    height:40px;
    width:250px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    cursor:pointer;
}
.submitReview:hover{
    background-color:#5ebcbc;
}
.submitDialog{
    display:flex;
    flex-direction:column;
}
.submitDialogTextArea{
    border:1px solid rgb(205 194 194 / 82%);
    margin:1vmax 0;
    outline:none;
    padding:1rem;
    font:300 1rem "Roboto";
}
@media screen and (max-width:600px){
    .Singleproduct{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}

.reviewsHeading{
    margin:60px 0px 19px;
    font-family: 'Open Sans', sans-serif;
    display:flex;
    justify-content:center;
    font-weight:100;
}
.noReviews{
    display:flex;
    justify-content:center;
    width:100%;
    font-family:'system-ui';
}
.buy-now-btn{
    background-color:white;
    width:123px !important;
    border: 2px solid black !important;
    color:black !important;
    font-size: 1.2rem !important;
    margin-left:0.7rem;
}
.buy-now-btn:hover{
    background-color:#f1e9e9;
}
.discount{
    display:flex;
    align-items:center;
    margin-bottom:0.2rem;
}
.discount>p{
    margin-left:1rem;
    font-size:2rem;
    font-family:'Roboto';
}
.discount>div>p:first-child{
    font-size:1.4rem;
    display: flex;
    justify-content: center;
    position:relative;
    left:0.2rem;
}
.discount>div>p:last-child{
    font-size:0.8rem;
    font-weight:600;
    display: flex;
    justify-content: center;
    position:relative;
    top:-0.4rem;
    left:0.2rem;
}
.discount>div>p{
    font-family:'Roboto';
    
}
.share-option{
    display:flex;
    align-items:center;
    margin-top:0.7rem;
    font:400 1rem 'Roboto';
    gap:0.5rem;
}
.share-option>div{
    display:flex;
    margin-right:1rem;
    align-items:center;
    gap:0.5rem;
}
.share-option>div>button>svg{
    font-size:large;
}
@media(width<=1000px){
    .productDetails{
        width:100%;
        padding:0;
    }
    .detailsBlock{
        display:flex;
        width:85%;
    }
}
