.userInformation{
    display:flex;
    margin:50px;
}
.userInformation>div>img{
    height:90px;
    width:90px;
    border-radius:50%;
}
.userInformation>div{
    display:flex;
    justify-content:center;
    align-items:flex-start;
}
.userInformation>div:first-child{
    display:flex;
    justify-content:center;
    align-items:center;
}
.Myaccount{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    margin-top:6rem;
}
.Myaccount>h1{
    font-family: 'Roboto', sans-serif;
    margin:10px 0px;
    font-weight:100;
    font-size:60px;
    box-shadow:0px 1px 0px #554d4d;
    padding:20px 0px;
}
.nameandemail{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.nameandemail>div{
    margin:10px 30px;
    display:flex;
    font-family: 'Roboto', sans-serif;
}
.nameandemail>div>h4{
    margin:0px 8px;
}
.Editprofilebtn>button,.Changepasswordbtn>button,.logoutBtn{
    margin:20px 30px;
    padding:10px 34px;
    border-radius:10px;
    font-family: 'Roboto', sans-serif;
    background-color:#bc41bc;
    color:white;
    border:none;
    font-weight:500;
    font-size:15px;
    cursor:pointer;
}
.accountbtn{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}