.review{
    border:1px solid #c6baba;
    min-width:250px;
    padding:20px;
    border-radius:12px;
    margin:10px 0px;
    margin:0px 18px;
}
.reviewDetails{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.reviewDetails >h4{
    font-family: 'Open Sans', sans-serif;
    display:flex;
    justify-content:center;
    margin:10px 0px;
}

.reviewDetails >img{
    width:2.4rem;
    height:2.4rem;
    border-radius:50%;
    background-color:#c6baba;
}
.reviewDetails >p{
    color:#464242;
    font-family: 'Open Sans', sans-serif;
}
