
.beforeSearch{
    display:none;
}

.Search{
    display:block;
    cursor:pointer;
    min-height:400px;
    position:absolute;
    background-color:white;
    width:100%;
    z-index:200;
    padding:4rem 0rem;
    animation:Searching 1s 1;
}
@keyframes Searching {
    from {top:-120%;}
  to {top:0%;}
}
.Search>form{
    height:40%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.Search>form>input{
    border:none;
    border-bottom:1px solid #d1c8c8;
    width:30%;
    font-size:20px;
    margin:0px 20px;
    outline:none;
}
.Search>form>button{
    background-color:#fb53fb;
    padding:9px 25px;
    border-radius:10px;
    border:none;
    color:white;
    cursor:pointer;
}
.cross{
    position:absolute;
    right:2%;
    top:6%;
    border:none;
    background:none;
    cursor:pointer;
}
.cross >img{
    height:35px;
    width:35px;
}
.searchDetails{
    overflow:auto;
    display:flex;
    justify-content:flex-start;
    margin:3rem 3rem;
}

.addToCartBtn{
    padding:10px 25px;
    background-color:#e034e0;
    margin:auto;
    border:none;
    border-radius:10px;
    color:white;
    text-decoration:none;
}
a{
    text-decoration:none;
}
.searchItems{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.search-product-img{
    height:13rem;
}
.eachSearchProduct{
    margin:1rem 1rem;
    width:20rem;
}
