.MyOrdersBox{
    margin:30px 50px;
}
.MyOrdersBox>h1{
    font-family: 'Roboto', sans-serif;
    margin:10px 0px;
    font-weight:100;
    font-size:47px;
    box-shadow:0px 1px 0px #554d4d;
    padding:10px 0px;
    display:inline;
}
.MyOrdersTable{
    margin:60px 0px;
}
.MyOrdersTable div{
    font:300 1.2vmax 'Roboto';
}
/* .MuiDataGrid-columnHeaderWrapper{
    background-color:#5e595e;
    color:white;
} */ isko hatana h

.MuiDataGrid-iconSeparator{
    display:none !important;
}
.MuiDataGrid-columnHeaderTitle{
    color:black !important;
}
@media screen and (max-width:600px){
    .myOrdersPage{
        padding:0;
        height:93vh;
    }
}

.veiwOrderBtn>button{
    font-size:1.4vmax;

}