.add-width{
    width:90%;
}
.collection{
    margin-top:5rem;
}
.paginationBox{
    display:flex;
    justify-content:center;
    align-items:center;
}
.pagination{
    display:flex;
    list-style:none;
}
.pagination>li>a{
    text-decoration:none;
}
.page-item{
    border: 1px solid black;
    padding: 7px 15px;
}
.page-item:last-child{
    border-radius:0 5px 5px 0;
}
.page-item:first-child{
    border-radius:5px 0 0 5px;
}

.page-item:hover{
    background-color:#f1ebeb;
}

.pageItemsActive{
    background-color:tomato;
}
.pageItemsActive:hover{
    background-color:orange;
}
.pageLinkActive{
    color:white;
}
.filterBox{
    width:30%;
}
.filterBox>div{
    display:flex;
    flex-direction:column;
    justify-content:column;
    align-items:center;
    width:30%;
    position:sticky;
    top:7rem;
    width: 100%;
}
.filterBox>div>fieldset{
    border: 1px solid #b3a1a1;
    padding: 9px 20px;
    display: flex;
    gap: 1rem;
    width: 65%;
}
.filterBox>div>fieldset>select{
    padding:0.3rem;
}
.filterBox>div>span{
    width:50%;
}
.secHeading{
    font:300 1.4rem 'Roboto';
    margin-bottom:2rem;
}

.category-filter{
    display:flex;
}
